.authentication-buttons {
  position: absolute;
  right: 40px;
}

.sign-in-container {
  position: fixed;
  right: 40px;
  top: 40px;
  overflow: hidden;
  transition: top 1s;
}

.sign-in-container-hidden {
  position: fixed;
  right: 40px;
  top: 100%;
  transition: top 1s;
}