@font-face {
  font-family: Euphemia;
  src: url(../../EuphemiaUCAS.ttf);
}

.navbar-container {
  margin: 0px;
  padding: 0px;
  height: 10vh;
  background-color: #332B48;
  display: flex;
}

.navigation-side {
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 100px;
  margin-left: 5vw;
  margin-right: 15%;
}

.page-redirect {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 15%;
  color: #C5C2D2;
  text-decoration: none;
}

.authentication-side {
  display: flex;
  align-items: center;
}

.authentication-buttons {
  position: absolute;
  right: 40px;
  box-sizing: border-box;

  background: #6851C4;
  border: 1px solid #DCD9F0;
  border-radius: 10px;

  width: 150px;
  height: 40px;

  color: #DBD9F0;
  font-family: Euphemia;
}

.authentication-buttons:hover {
  background: #CBC5F38C;
}

.sign-in-container {
  position: fixed;
  right: 40px;
  top: 12%;
  overflow: hidden;
  transition: top 1s;
  z-index: 10;
}

.sign-in-container-hidden {
  position: fixed;
  right: 40px;
  top: 100%;
  transition: top 1s;
  z-index: 10;
}